$green-color: green;

$theme-main-color: #437fe3 !default;                                             // 테마 메인 색
$base-font-size: 16px !default;                                                  // 폰트 크기
$base-line-color: #ccc !default;