//$green-color: green;
$base-font-size: 16px !default;                                                  // 폰트 크기
$theme-main-color: #437fe3 !default;                                             // 테마 메인 색
$theme-main-dark-color: #3064ba !default;                                        // hover,click 색

$base-line-color: #ccc !default;
$base-border-color: #e8e8e8 !default;

$gray-color1: #dbdbdb !default;
$gray-color2: #797979 !default;
$gray-color3: #9d9d9d !default;
$gray-color4: #e3e3e3 !default;
$gray-color5: #c1c1c1 !default;
$gray-color6: #f8f8f8 !default;

$font-base-color: #222 !default;
$font-color1: #101010 !default;
$font-color2: #565656 !default;